@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media (max-width: 480px) {
  .myli1 {
    position: relative;

    color: #4ee494;

    font-size: small;
    right: 35px;
  }
  .myli2 {
    position: relative;
    right: 31px;

    color: #4ee494;

    font-size: small;
  }
  .myli3 {
    position: relative;

    color: #4ee494;

    font-size: small;
    right: 32px;
  }
  .productive {
    position: relative;
    margin-top: 2rem;
    font-weight: 500;
    left: 41px;
    font-size: 11px;
  }
  .mytodo {
    position: relative;
    margin-top: 2rem;
    right: 1.85rem;
    width: 70%;
    height: 100px;
  }
  .mytodo h1 {
    position: relative;
    right: 2.2rem;
    font-size: 0.84rem;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-weight: bolder;
  }

  .mytodo .symbol {
    position: relative;
    right: 2.6rem;
  }
  .main {
    position: relative;
    height: 100vh;
    right: 1.2rem;
    width: fit-content;
  }
  .notodo {
    font-size: 0.83rem;
    position: relative;
    top: 90px;
    right: 2.8rem;
  }
  .textinput {
    position: relative;
    height: 90px;
    width: 100%;
    border-radius: 10px;
    padding: 5;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .addtodo {
    position: relative;
    font-size: 1rem;
    width: 150px;
    left: 4.5rem;
    text-transform: uppercase;
    margin-top: 3%;
  }
  .h1div {
    border: 2px solid #3498db;
    border-radius: 10px;
    padding: 1px;
    box-shadow: 2px 1px 5px 3px #3498db;
  }
  .mysubmit {
    position: relative;
    width: 90px;
  }
  .savespan {
    position: relative;
    top: -2px;
    left: 2px;
  }
  .savelogo {
    position: relative;
    top: -22px;
  }
  .finished {
    position: relative;
    font-size: smaller;
    left: 63%;
    top: -29px;
  }
  .myedit {
    position: relative;
    font-size: 11px;
    width: 3rem;
    height: 2.5rem;
    right: 0.3rem;
  }
  .editspan {
    position: relative;
    top: 2.3px;
    left: 1.2px;
    font-size: 11px;
    margin-left: 0.2rem;
  }
  .editlogo {
    position: relative;
    margin-top: 0.5rem;
    margin-right: 4rem;
  }
  .mydelete {
    position: relative;
    font-size: 11px;
    width: 3.5rem;
    height: 2.5rem;
    right: -0.4rem;
  }
  .deletespan {
    position: relative;
    top: 2.3px;
    left: 1.2px;
    font-size: 11px;
    margin-left: 0.4rem;
  }
  .deletelogo {
    position: relative;
    margin-top: 0.5rem;
    margin-right: 4rem;
  }
  .mydiv {
    border: 2px solid #3498db;
    height: 10vh;
    border-radius: 10px;
    background-color: #000000c2;
  }
  .yourtodos {
    position: relative;
    left: 5.2rem;
    top: -6px;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: #a4c7df;
    font-size: small;
  }
}
