@tailwind base;
@tailwind components;
@tailwind utilities;
.skillcards{
    background-color: #141325;
}
.skillbutton{
    background-color: #0C64FC;
}
.skills1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.skills{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #060517;
    z-index: 0;

}

.getstarted{
    background-color: #0185FD;
}
.mycards{
    background-color: #1D293E;
}

.mycards1{
    border: 2px solid #283154;
}
.myblue1{
    border-bottom-left-radius: 20px;
}
.main{
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.main:hover{
    scale: 1.2;
    transform: rotate3d(1, 2, 1, -45deg);
    /* transform: scale(1.1); */
    /* transition: transform 0.3s cubic-bezier(1.68, -1.55, 1.27, 1.55); */

}
.btn{
    background-color: #3b43d6;
    color:#DADADA;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}
.btn:hover{
    scale: 0.9;
    transition: all 0.5s linear;
}
.hireme-container {
    perspective: 1000px;
}
.hireme-container:hover{
    position: relative;
    top: -14px;
    transform: rotateX(180deg);
}

.hireme-btn1 {
    height: 8vh;
    background-color: #3b43d6;
    border-radius: 5px;
    width: 9vw;
    max-width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 400;
    color: #DADADA;
    transition: transform 0.5s ease;
    perspective: 1000px;
}

.hireme-btn1:hover {
    transform: rotateX(-180deg);
}

.myh1{
    font-family:fantasy;
    letter-spacing: 1rem;
    color: #DEDEDE;
}

.myp1{
    color: #F6F6F6;
    position: relative;
    font-size: 2.5rem;
    font-weight: 800;
    top: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.development{
    font-family: fantasy;
    letter-spacing: 0.5rem;

}
.web{
    font-family: fantasy;
    letter-spacing: 0.5rem;
    color: aqua;
    font-size: 2.5rem;    
}
.interact {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}